<div id="changepasswordPanel" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Change password</div>
        </div>

        <div class="panel-body">
            <div id="errorMessage" class="alert alert-danger col-sm-12" ng-show="errorMessage">{{errorMessage}}</div>
            <form id="changepasswordForm" role="form">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="oldpassword" type="password" class="form-control" placeholder="Old Password">
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="newpassword" type="password" class="form-control" placeholder="New Password">
                </div>
                <div class="button-group">
                    <button id="changepasswordBtn" type="submit" class="btn btn-primary btn-lg btn-block" ng-click="submit()">Change password</button>
                </div>
            </form>
        </div>
    </div>

</div>