<div id="loginPanel" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Login</div>
            <div class="forgotPassword"><a href="#" ui-sref="forgotpassword">Forgot password?</a></div>
            <div class="forgotUsername"><a href="#" ui-sref="forgotusername">Forgot username?</a></div>
        </div>

        <div class="panel-body">
            <div id="errorMessage" class="alert alert-danger col-sm-12" ng-show="errorMessage">{{errorMessage}}</div>
            <form id="loginForm" role="form">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="email" type="text" class="form-control" value="" placeholder="E-mail">
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" type="password" class="form-control" placeholder="Password">
                </div>
                <div class="input-group rememberme">
                    <div class="checkbox">
                        <label>
              <input id="rememberme" type="checkbox" name="rememberme" value="1">Save password
            </label>
                    </div>
                </div>
                <div class="button-group">
                    <button id="loginBtn" type="submit" class="btn btn-primary btn-lg btn-block" ng-click="submit()">Login</button>
                </div>
                <div class="form-group">
                    <div class="col-md-12 control">
                        <div class="signup"><a href="#" ui-sref="signup">Sign up</a></div>
                    </div>
                </div>
            </form>

        </div>

    </div>

</div>